.notLoggedIn {
  text-align: center;
  margin-top: 60px;

}

.userPanel {
  margin: auto;
  width: 80%;
  text-align: center;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3vw;
  margin-top: 30px;
}

.changePassword {
  width: 50%;
  margin: auto;
  margin-top: 50px;

}

.changePasswordBtn, .orderItemsBtn {
  margin-bottom: 10px;
  margin-top: 10px;
  max-font-size: 20px;
  font-size: 3vw;

}

.changePasswordBtn {
  float: right;
}

label {
  float: left;
}

@media (max-width: 900px) {
  .changePassword {
    width: 100%;

  }
}

@media (min-width: 1000px) {
  h2, h3 {
    font-size: 30px;
  }
}

@media (min-width: 400px) {
  .changePasswordBtn, .orderItemsBtn {
    font-size: revert;
  }
}

@media (max-width: 615px) {
  h2, h3 {
    font-size: large;
  }
}


