.registerForm {
  width: 50%;
  margin: auto;
}

button {
  float: right;
  margin-top: 10px;
}

h2 {
  font-size: 2vw;
}

a {
  margin-top: 10px;
}

@media (max-width: 880px) {
  h2 {
    font-size: 19px;
  }
}

@media (max-width: 550px) {
  .registerForm {
    width: 80%;
  }


}
