/* You can add global styles to this file, and also import other style files */
a:hover{
  cursor: pointer;
}

.navbar-custom{
  background-color: #F6CD13;

}

.btn-primary, .btn-success {
  background-color: #F51800;
  border-color: #F51800;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #F6CD13;
  border-color: #F6CD13;
}

.h2Header{
  margin-right: 30px;
  font-size: 30px;
  font-weight: bolder;
}

.h2Header:hover{
  cursor: pointer;
}

.h2A{
  text-decoration: none;
}

input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.regenboog{
  margin-top: 0px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*F51800*/
/*F6CD13*/


